body{
    background-color: aquamarine;
    margin: 8px;
    color: white;
    text-align: center;
}
h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
